html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* 统一滚动条样式 (可选) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
